@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a {
  color: #5a6ce0;
  text-decoration: underline;
  text-decoration-style: dotted;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #8b9cf0;
  }
}
